{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {nopsteam.adapters {->server-request-message {:arities {2 {:args [:keyword
                                                                                                         :keyword],
                                                                                                  :ret {:op :keys,
                                                                                                        :opt {:server-address {:op :keys,
                                                                                                                               :req {:ip :string,
                                                                                                                                     :port :int}},
                                                                                                              :payload :string},
                                                                                                        :req {:type :keyword,
                                                                                                              :sender {:op :keys,
                                                                                                                       :opt {:address {:op :keys,
                                                                                                                                       :req {:ip :string,
                                                                                                                                             :port :int}}},
                                                                                                                       :req {:id :keyword}},
                                                                                                              :receiver {:op :keys,
                                                                                                                         :opt {:address {:op :keys,
                                                                                                                                         :req {:ip :string,
                                                                                                                                               :port :int}}},
                                                                                                                         :req {:id :keyword}}}}}}}}}}}}
