{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {nopsteam.adapters {->server-request-message {:arities {2 {:args [:keyword
                                                                                                         :keyword],
                                                                                                  :ret {:op :keys,
                                                                                                        :opt {:server-address {:op :keys,
                                                                                                                               :req {:ip :string,
                                                                                                                                     :port :int}},
                                                                                                              :payload :string},
                                                                                                        :req {:type :keyword,
                                                                                                              :sender {:op :keys,
                                                                                                                       :opt {:address {:op :keys,
                                                                                                                                       :req {:ip :string,
                                                                                                                                             :port :int}}},
                                                                                                                       :req {:id :keyword}},
                                                                                                              :receiver {:op :keys,
                                                                                                                         :opt {:address {:op :keys,
                                                                                                                                         :req {:ip :string,
                                                                                                                                               :port :int}}},
                                                                                                                         :req {:id :keyword}}}}}}},
                                                           request->client-info {:arities {1 {:args [:any],
                                                                                              :ret {:op :keys,
                                                                                                    :req {:id :string,
                                                                                                          :socket :any,
                                                                                                          :host-address :string,
                                                                                                          :port :int,
                                                                                                          :request {:op :keys,
                                                                                                                    :opt {:server-address {:op :keys,
                                                                                                                                           :req {:ip :string,
                                                                                                                                                 :port :int}},
                                                                                                                          :payload :string},
                                                                                                                    :req {:type :keyword,
                                                                                                                          :sender {:op :keys,
                                                                                                                                   :opt {:address {:op :keys,
                                                                                                                                                   :req {:ip :string,
                                                                                                                                                         :port :int}}},
                                                                                                                                   :req {:id :keyword}},
                                                                                                                          :receiver {:op :keys,
                                                                                                                                     :opt {:address {:op :keys,
                                                                                                                                                     :req {:ip :string,
                                                                                                                                                           :port :int}}},
                                                                                                                                     :req {:id :keyword}}}}}}}}},
                                                           ->peer-request {:arities {1 {:args [:any],
                                                                                        :ret {:op :keys,
                                                                                              :req {:id :string,
                                                                                                    :socket :any,
                                                                                                    :host-address :string,
                                                                                                    :port :int,
                                                                                                    :request {:op :keys,
                                                                                                              :opt {:server-address {:op :keys,
                                                                                                                                     :req {:ip :string,
                                                                                                                                           :port :int}},
                                                                                                                    :payload :string},
                                                                                                              :req {:type :keyword,
                                                                                                                    :sender {:op :keys,
                                                                                                                             :opt {:address {:op :keys,
                                                                                                                                             :req {:ip :string,
                                                                                                                                                   :port :int}}},
                                                                                                                             :req {:id :keyword}},
                                                                                                                    :receiver {:op :keys,
                                                                                                                               :opt {:address {:op :keys,
                                                                                                                                               :req {:ip :string,
                                                                                                                                                     :port :int}}},
                                                                                                                               :req {:id :keyword}}}}}}}}},
                                                           client-info->message {:arities {2 {:args [{:op :keys,
                                                                                                      :req {:id :string,
                                                                                                            :socket :any,
                                                                                                            :host-address :string,
                                                                                                            :port :int,
                                                                                                            :request {:op :keys,
                                                                                                                      :opt {:server-address {:op :keys,
                                                                                                                                             :req {:ip :string,
                                                                                                                                                   :port :int}},
                                                                                                                            :payload :string},
                                                                                                                      :req {:type :keyword,
                                                                                                                            :sender {:op :keys,
                                                                                                                                     :opt {:address {:op :keys,
                                                                                                                                                     :req {:ip :string,
                                                                                                                                                           :port :int}}},
                                                                                                                                     :req {:id :keyword}},
                                                                                                                            :receiver {:op :keys,
                                                                                                                                       :opt {:address {:op :keys,
                                                                                                                                                       :req {:ip :string,
                                                                                                                                                             :port :int}}},
                                                                                                                                       :req {:id :keyword}}}}}}
                                                                                                     {:op :keys,
                                                                                                      :req {:id :string,
                                                                                                            :socket :any,
                                                                                                            :host-address :string,
                                                                                                            :port :int,
                                                                                                            :request {:op :keys,
                                                                                                                      :opt {:server-address {:op :keys,
                                                                                                                                             :req {:ip :string,
                                                                                                                                                   :port :int}},
                                                                                                                            :payload :string},
                                                                                                                      :req {:type :keyword,
                                                                                                                            :sender {:op :keys,
                                                                                                                                     :opt {:address {:op :keys,
                                                                                                                                                     :req {:ip :string,
                                                                                                                                                           :port :int}}},
                                                                                                                                     :req {:id :keyword}},
                                                                                                                            :receiver {:op :keys,
                                                                                                                                       :opt {:address {:op :keys,
                                                                                                                                                       :req {:ip :string,
                                                                                                                                                             :port :int}}},
                                                                                                                                       :req {:id :keyword}}}}}}],
                                                                                              :ret {:op :keys,
                                                                                                    :opt {:server-address {:op :keys,
                                                                                                                           :req {:ip :string,
                                                                                                                                 :port :int}},
                                                                                                          :payload :string},
                                                                                                    :req {:type :keyword,
                                                                                                          :sender {:op :keys,
                                                                                                                   :opt {:address {:op :keys,
                                                                                                                                   :req {:ip :string,
                                                                                                                                         :port :int}}},
                                                                                                                   :req {:id :keyword}},
                                                                                                          :receiver {:op :keys,
                                                                                                                     :opt {:address {:op :keys,
                                                                                                                                     :req {:ip :string,
                                                                                                                                           :port :int}}},
                                                                                                                     :req {:id :keyword}}}}}}},
                                                           ->server-response-message {:arities {2 {:args [{:op :keys,
                                                                                                           :req {:id :string,
                                                                                                                 :socket :any,
                                                                                                                 :host-address :string,
                                                                                                                 :port :int,
                                                                                                                 :request {:op :keys,
                                                                                                                           :opt {:server-address {:op :keys,
                                                                                                                                                  :req {:ip :string,
                                                                                                                                                        :port :int}},
                                                                                                                                 :payload :string},
                                                                                                                           :req {:type :keyword,
                                                                                                                                 :sender {:op :keys,
                                                                                                                                          :opt {:address {:op :keys,
                                                                                                                                                          :req {:ip :string,
                                                                                                                                                                :port :int}}},
                                                                                                                                          :req {:id :keyword}},
                                                                                                                                 :receiver {:op :keys,
                                                                                                                                            :opt {:address {:op :keys,
                                                                                                                                                            :req {:ip :string,
                                                                                                                                                                  :port :int}}},
                                                                                                                                            :req {:id :keyword}}}}}}
                                                                                                          {:op :keys,
                                                                                                           :req {:id :string,
                                                                                                                 :socket :any,
                                                                                                                 :host-address :string,
                                                                                                                 :port :int,
                                                                                                                 :request {:op :keys,
                                                                                                                           :opt {:server-address {:op :keys,
                                                                                                                                                  :req {:ip :string,
                                                                                                                                                        :port :int}},
                                                                                                                                 :payload :string},
                                                                                                                           :req {:type :keyword,
                                                                                                                                 :sender {:op :keys,
                                                                                                                                          :opt {:address {:op :keys,
                                                                                                                                                          :req {:ip :string,
                                                                                                                                                                :port :int}}},
                                                                                                                                          :req {:id :keyword}},
                                                                                                                                 :receiver {:op :keys,
                                                                                                                                            :opt {:address {:op :keys,
                                                                                                                                                            :req {:ip :string,
                                                                                                                                                                  :port :int}}},
                                                                                                                                            :req {:id :keyword}}}}}}],
                                                                                                   :ret {:op :keys,
                                                                                                         :opt {:server-address {:op :keys,
                                                                                                                                :req {:ip :string,
                                                                                                                                      :port :int}},
                                                                                                               :payload :string},
                                                                                                         :req {:type :keyword,
                                                                                                               :sender {:op :keys,
                                                                                                                        :opt {:address {:op :keys,
                                                                                                                                        :req {:ip :string,
                                                                                                                                              :port :int}}},
                                                                                                                        :req {:id :keyword}},
                                                                                                               :receiver {:op :keys,
                                                                                                                          :opt {:address {:op :keys,
                                                                                                                                          :req {:ip :string,
                                                                                                                                                :port :int}}},
                                                                                                                          :req {:id :keyword}}}}}}}}}}}}
